body {
  font-family: sans-serif;
  background-image: url("background6.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-size: 1500px;
 
}

.user-search-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px; 
  width: 300px;
  height: 50px;
}

.user-search-input {
  width: 100%;
  max-width: 1000px;  
  padding: 15px;  
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.user-search-input input {
  width: 100%;  /* Make input take full width */
  border: none;
  height: 40px;  /* Increase height for a larger input */
  padding: 10px;
  font-size: 16px;  /* Increase font size for better visibility */
}

.user-search-input input:focus {
  outline: none;
}

.suggestions-list {
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;  /* Match the width of the input box */
  max-width: 600px;  /* Match the max width of the input box */
}

.suggestions-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #ccc;
}

.suggestions-list li img {
  height: 20px;
}

.user-pill {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.user-pill img {
  height: 100%;
}

.suggestions-list li.active {
  background-color: #ccc;
}
input {
  box-sizing: border-box;
  width: 25pc;
  height: 50px;
  border: 4px rgb(229, 155, 206);
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  border-radius: 25px;

}

button{
  background-color: rgb(136, 161, 244);
  color: black;
  size: 50px;
  margin-left: 8px;
  top: 54%;
  left: 45%;
  height: 50px;
  border-radius: 25px;

}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  text-align-last: left;
  margin-top: 40px;
  color: black;
  
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}